.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  /* background: rgb(73, 79, 82); */
  background: black;
  color: white;
  /* background-image: url('https://media4.giphy.com/media/hrQnFqUKTXwSSvH8AI/giphy.gif');
  background-size: 1080px 720px;
  background-color:black; */
}

.navLink {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}


