body {
  margin: 0;
  background-color: cornflowerblue;
  background-image: url('https://media4.giphy.com/media/hrQnFqUKTXwSSvH8AI/giphy.gif');
  background-size: 1080px 720px;
  /* background-color:goldenrod; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


